@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

:root {
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
}

a {
    text-decoration: none;
    max-width: max-content;
}

.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}

.area_menu img {
    width: 100%;
    max-width: 230px;
}


.menu_mobile {
    display: none;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

nav ul li:hover>.border_header {
    width: 100%;
    height: 3px;
    background-color: #FF4500;
    border-radius: 10px;
}

.border_header {
    transition: all ease 300ms;
    width: 0%;
    height: 3px;
}

.area_menu_icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.border_lateral {
    background: #FF4500;
    width: 2px;
    height: 20px;
}

nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-align: center;
    list-style: none;
    width: 100%;
    max-width: max-content;
}

nav ul li a {
    font-family: 'Montserrat';
    font-weight: var(--font-weight-600);
    font-size: 22px;
    line-height: 142.02%;
    color: #FFECE6;
    text-decoration: none;
}

/*Container 1*/
.container_1 {
    background-image: url(../img_sub_paginas/bg_header_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 440px;
    margin-top: -120px;
    position: relative;
    z-index: 1;
}

.container_principal {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(267.92deg, #E35A27 2.61%, #FF843D 91.68%), #FFECE6;
    padding: 80px 0px 60px 0px;
}

.container_principal_int {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
}

.area_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.area_principal img {
    width: 100%;
    max-width: 550px;
}

.area_texts_principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 485px;
    gap: 25px;
}

.title_principal h2 {
    color: #FFF;
    font-size: 46px;
    font-family: Poppins;
    font-weight: var(--font-weight-500);
    line-height: 105.523%;
    margin: 0px;
}

.sub_title_principal p {
    color: #FFECE6;
    font-size: 18px;
    font-family: Poppins;
    font-weight: var(--font-weight-500);
    line-height: 142.023%;
    margin: 0px;
}

.area_info_principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn_info_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 220px;
    height: 45px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 46px;
    transition: all ease 300ms;
    padding: 0px 20px;
    transform-origin: bottom;
}

.btn_info_contato h2 {
    font-family: 'Montserrat';
    font-weight: var(--font-weight-700);
    font-size: 16px;
    text-align: center;
    color: #E44105;
    margin: 0px;
}

.btn_info_contato:hover {
    background: linear-gradient(153.93deg, rgba(255, 255, 255, 0.158) -19.01%, rgba(255, 255, 255, 0) 30.86%), linear-gradient(28.18deg, rgba(255, 255, 255, 0.2) -17.5%, rgba(0, 0, 0, 0) 57.7%), linear-gradient(344.21deg, #000000 63.66%, rgba(0, 0, 0, 0) 84.7%), #1A1A1A;
    border: 3px solid #1A1A1A;
}

.btn_info_contato:hover h2 {
    color: #FFFFFF;
}

.info_principal p {
    color: #FFECE6;
    font-size: 18px;
    font-family: Poppins;
    font-weight: var(--font-weight-700);
    line-height: 142.023%;
    margin: 0px;
}

.slide-1 .item img {
    max-width: max-content;
    width: 100%;
    max-height: 100%;
    border-radius: 20px;
}


.container_swiper {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(267.92deg, #E35A27 2.61%, #FF843D 91.68%), #FFECE6;
    padding: 60px 0px 60px 0px;
    box-shadow: inset -1px 24px 41px rgba(205, 59, 5, 0.61);
}

.container_swiper_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.area_swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    
}

.swiper {
    width: 100%;
    max-width: 800px;
    height: 300px;
}

.swiper-slide-prev, .swiper-slide-next {
    backdrop-filter: blur(3px);
}

.swiper-button-next, .swiper-button-prev {
    color: #000000 !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 50px !important;
    left: auto;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 50px !important;
    right: auto;
}

footer {
    background-image: url(../img_servicos/bg_footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 590px;
    width: 100%;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_footer {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
    max-width: 1180px;
}

.area_texts_footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 530px;
}

.title_title_footer h2 {
    font-weight: var(--font-weight-400);
    font-size: 46px;
    line-height: 105.52%;
    color: #FFFFFF;
    margin: 0px;
}

.title_title_footer h2 b {
    color: #FF4500;
}

.sub_title_title_footer p {
    font-weight: var(--font-weight-500);
    font-size: 20px;
    line-height: 142.02%;
    color: #FFECE6;
    margin: 0px;
}

.area_icons_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.icons_footer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icons_footer img {
    width: 100%;
    max-width: 40px;
}

.info_footer h2 {
    font-weight: var(--font-weight-500);
    font-size: 24px;
    line-height: 142.02%;
    color: #FFECE6;
    margin: 0px;
}

.footer_redes_sociais {
    height: 120px;
    width: 100%;
    background: linear-gradient(262.82deg, rgba(0, 0, 0, 0.2) 41.57%, rgba(247, 247, 247, 0.122) 77.88%), #000000;
}

.footer_redes_sociais_int {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.area_redes_sociais {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}

.area_redes_sociais img {
    max-width: 200px;
}

.redes_sociais {
    display: flex;
    align-items: center;
    gap: 25px;
}

.redes_sociais a {
    display: flex;
    justify-content: center;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: linear-gradient(231.73deg, rgba(0, 0, 0, 0.2) 27.95%, rgba(247, 247, 247, 0.122) 112.63%), #000000;
}

.copy p {
    font-weight: var(--font-weight-600);
    font-size: 16px;
    color: #A3A3A3;
    margin: 0px;
    padding: 0px 20px;
}




@media(max-width: 1024px) {
    nav ul {
        display: none;
    }

    .menu_mobile_open {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        padding: 12px 8px;
        border-radius: 10px;
    }

    .menu_mobile nav ul li a:hover {
        color: #fff;
    }

    @keyframes move {
        0% {
            top: -300%;

        }

        100% {
            top: 100px;
        }

    }

    .border_lateral {
        background: #FF4500;
        width: 20px;
        height: 2px;
        display: none;
    }

    .menu_mobile_close {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        margin: 0px 20px 0px 20px;
        height: 49px;
    }

    .line_1 {
        transform: rotate(130deg);
        position: absolute;
    }

    .line_2 {
        position: absolute;
        transform: rotate(50deg);
    }

    .area_menu {
        padding: 0px 20px;
    }

    .menu_mobile_close div {
        width: 40px;
        height: 3px;
        border-radius: 100px;
        background: #FFFFFF;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }


    .menu_mobile_open div {
        width: 40px;
        height: 3px;
        border-radius: 100px;
        background: #FFFFFF;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }

    .menu_mobile {
        transition: all ease-in 400ms;
        display: none;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0px;
        background: linear-gradient(153.93deg, rgba(255, 255, 255, 0.158) -19.01%, rgba(255, 255, 255, 0) 30.86%), linear-gradient(28.18deg, rgba(255, 255, 255, 0.2) -17.5%, rgba(0, 0, 0, 0) 57.7%), linear-gradient(344.21deg, #000000 63.66%, rgba(0, 0, 0, 0) 84.7%), #1A1A1A;
        box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.26);
        z-index: 10;
        padding: 20px 0px 20px 0px;
    }

    .menu_mobile nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .menu_mobile nav ul li a {
        font-size: 18px;
    }
    .container_1 {
        height: 300px;
    }
    .area_principal {
        gap: 40px;
        padding: 0px 20px;
    }

    .title_principal h2 {
        font-size: 38px;
    }

    .sub_title_principal p {
        font-size: 16px;
    }
    .info_principal p {
        font-size: 16px;
    }
    .container_principal {
        padding: 40px 0px 40px 0px;
    }

    .container_slide {
        padding: 40px 0px 20px 0px;
    }

    /*Footer*/
    .area_texts_footer {
        gap: 20px;
        text-align: center;
        align-items: center;
    }

    .title_title_footer h2 {
        font-size: 36px;
    }

    .sub_title_title_footer p {
        font-size: 18px;
    }

    .icons_footer {
        justify-content: center;
    }

    .info_footer h2 {
        font-size: 20px;
    }

    .area_footer {
        flex-direction: column;
        align-items: center;
        padding: 0px 20px;
        gap: 40px;
    }

    .area_redes_sociais {
        padding: 0px 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    footer {
        padding: 40px 0px;
        height: 100%;
    }

    .icons_footer img {
        width: 100%;
        max-width: 30px;
    }

}

@media(max-width: 480px) {

    .title_principal h2 {
        font-size: 28px;
    }
    .area_texts_principal {
        gap: 20px;
    }
    .area_principal {
        gap: 30px;
    }
    /*Footer*/
    .title_title_footer h2 {
        font-size: 28px;
    }

    .sub_title_title_footer p {
        font-size: 16px;
    }

    .area_footer {
        gap: 20px;
    }

    .area_icons_footer {
        gap: 10px;
    }

    .icons_footer img {
        width: 100%;
        max-width: 30px;
    }

    .info_footer h2 {
        font-size: 16px;
    }

    .owl-carousel .owl-nav img {
        max-width: 40px;
    }

}

@media(max-width: 320px) {
    .info_footer h2 {
        font-size: 13px;
    }
    .area_redes_sociais_fixed {
        position: fixed;
        right: 20px;
        top: 150px;
        z-index: 1;
    }
}